page-about {

    .plainText4 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-bottom: 0%;
    }

    .plainText {
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 0%;
        
    }

    .plainText2 {
        color: black;
        font-size: 20px;
        margin-bottom: 0%;
    }

    .plainText3 {
        color: rgb(0, 0, 0);
        margin: 0%;
        font-size: 20px;
    }


}

