<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
  <p>Atur Darussalam</p>
  <p>Event Management</p>
  <p>Version 1.0</p>
  <p>Ak Muqtadir Firdaus PHM</p>
  <p>Hj Muhammad Adib Bin Hj Husin</p>
  <p>Mohammad Nazmi Bin Moss</p>
  <p>Muhammad Zakwan Bin Zaini</p>
  <p>2018</p>
</ion-content>
