page-acc-up {
    .userID{
        margin-top: 5%;
        margin-left: 11%;
        width: 75%;
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0);
    }

    .userPass{
        margin-top: 5%;
        margin-left: 11%;
        width: 75%;
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0);
    }

    .logIcon{
        color: aliceblue;
    }

    .signUP{
        width: 65%;
        font-size: 20px;
        margin-top: 5%;
    }

}
